.game-page {
  display: flex;
  flex-direction: column;
  background-image: url('/public/img/backround_game.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}

/* ROZHOVOR */

.conversation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 20vh;
  /* flex-grow: 1; */
}
