/* Skóre s hvězdama  */

.container__stars {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: fixed;
  top: 10px;
  right: 20px; */
  background-color: rgba(255, 255, 255, 0.281);
  border-radius: 10px;
}


.container__stars--score {
  transition: transform 0.3s;
}

.container__stars--score:hover {
  transform: scale(1.1);
}


@media (min-width: 320px) {

  .container__stars {
    width: 181px;
    height: 30px;
  }

  .container__stars--score {
    width: 20px;
    height: 20px;
  }
}

@media (min-width: 425px) {

  .container__stars {
    width: 268px;
    height: 40px;
  }

  .container__stars--score {
    width: 30px;
    height: 30px;
  }
}

@media (min-width: 765px) {

  .container__stars {
    width: 350px;
    height: 50px;
  }

  .container__stars--score {
    width: 40px;
    height: 40px;
  }
}
