/* Skóre s hvězdama  */

.container__stars {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 300px;
  height: 40px;
  position: fixed;
  top: 10px;
  right: 20px;
  background-color: rgba(255, 255, 255, 0.281);
  border-radius: 10px;
}


.container__stars--score {
  width: 30px;
  height: 30px;
  transition: transform 0.3s;
}

.container__stars--score:hover {
  transform: scale(1.1);
}
