.container__icon--game {
  width: 50px;
  background: none;
  transition: transform 0.3s;
  filter: none;

}

.container__icon--game:hover {
  transform: scale(1.2);
  filter: drop-shadow(0px 8px 8px rgb(0, 157, 13));
}

@media (max-width: 480px) {
  .container__icon--game {
    width: 40px;
  }
}

@media (min-width: 1024px) {
  .container__icon--game {
    width: 60px;
  }
}
