.winner-popup {
  display: flex;
  flex-direction: column;
  text-align: justify;
  position: absolute;
  font-size: 1em;
  line-height: 1.5;
  width: 80vw;
  max-height: 75vh;
  top: 20vh;
  left: 10vw;
  background-color: rgb(168, 168, 168);
  border-radius: 40px;
  padding: 3rem;
  z-index: 3000;
}

.winner-popup::backdrop {
  background-color: rgba(0, 0, 0, 0.7);
}


@media (max-width: 425px) {
  .winner-popup {
    width: 90vw;
    max-height: 80vh;
  }
}


.winner__content {
  justify-content: center;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  align-items: center;
}

.winner__heading {
  color: yellow;
  margin: 2rem;

}

.winner__astronaut {
  margin-top: 1rem;
}

.winner__text {
  margin: 0.5em;
  font-size: 0.8rem;
}
