.winer-popup {
  display: flex;
  flex-direction: column;
  text-align: justify;
  position: absolute;
  font-size: 1em;
  line-height: 1.5;
  width: 80vw;
  max-height: 75vh;
  top: 20vh;
  left: 10vw;
  background-color: rgb(168, 168, 168);
  border-radius: 40px;
  padding: 3rem;
  z-index: 3000;
}


@media (max-width: 425px) {
  .winer-popup {
    width: 90vw;
    max-height: 80vh;
  }
}


.winer-content {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  overflow: auto;
}

.winer-heading {
  color: yellow;
  margin: 2rem;

}

.winer-astronaut {
  display: flex;
  justify-content: center;
}
