.container__icon--hint {
  width: 50px;
  background: none;
  transition: transform 0.3s;
  filter: none;
  gap: 3rem;
}

.container__icon--hint:hover {
  transform: scale(1.2);
  filter: drop-shadow(0px 8px 8px yellow);
}
