.popup__game--joy {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-direction: row;
}

.popup__game--column1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.4rem;
}


/* @media (max-width: 1024px) {
 }

@media (max-width: 768px) {
  }

@media (max-width: 320px) {
  } */
