.game__card {
  width: 80px;
  transition: transform 0.2s ease-in-out;
}

.game__card:hover {
  transform: scale(1.1);
  filter: drop-shadow(0 0 10px rgb(9, 160, 254));
}

.hidden {
  visibility: hidden;
}


.selected {
  filter: drop-shadow(0 0 10px rgb(9, 160, 254));
}
