.planetspage__rocket--text {
  color: black;
  text-align: justify;
}

.bubbleInfo {
  position: relative;
  line-height: 24px;
  background: #fff;
  border-radius: 40px;
  padding: 24px;
  text-align: center;
  color: #000;
}

.bubbleInfo-bottom-left:before {
  content: "";
  position: absolute;
  border-left: 24px solid #fff;
  border-right: 12px solid transparent;
  border-top: 12px solid #fff;
  border-bottom: 20px solid transparent;
  left: 32px;
  bottom: -24px;
}


@media (min-width: 320px) {
  .bubbleInfo {
    top: -59rem;
    left: 1rem;
    font-size: 10px;
    width: 91px;

  }
}

@media (min-width: 500px) {
  .bubbleInfo {
    top: -1rem;
    left: 29rem;
    font-size: 10px;
    width: 91px;
  }
}

@media (min-width: 700px) {
  .bubbleInfo {
    top: 2rem;
    left: 28rem;
    font-size: 10px;
    width: 194px;

  }
}

@media (min-width: 1000px) {
  .bubbleInfo {
    top: 9rem;
    left: 32rem;
    font-size: 13px;
    line-height: 24px;
    width: 209px;
  }
}
