.popup__game--sadness {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.controls {
  margin-top: 2rem;
  text-align: center;
}

.controls__input--group {
  display: flex;
  align-items: center;
  gap: 0.4em;
}

input[type='text'] {
  border: none;
  background-color: rgb(232, 230, 230);
  color: rgb(0, 0, 0);
  border-radius: 5px;
  padding: 0.5rem;
  font-family: 'Josefin Sans', sans-serif;
}

.time-input {
  width: rem;
}

.time-input:hover {
  cursor: help;
}

.controls__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.controls__top button,
.controls__top label {
  margin-bottom: 0.5rem;
}

.btn-stopwatsch {
  font-family: 'Josefin Sans', sans-serif;
  border: none;
  background-color: #2684ff;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  padding: 0.5rem;
  cursor: pointer;
}

.stopwatch {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 20rem;
  top: 0rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(/public/img/stopwatch.svg);
}


.stopwatch__seconds {
  position: absolute;
  font-size: 3rem;
  line-height: 3rem;
  top: 50%;
  transform: translateY(-50%);
}

.stopwatch__minutes {
  font-weight: 900;
}

.stopwatch___seconds {
  font-weight: 100;
}



/* ANIMACE KOMETY  */
.comet {
  display: none;
}

.comet-animation {
  position: absolute;
  bottom: 80%;
  right: 0;
  transform: translateZ(0);
  animation: fly 4s linear forwards;

}

@keyframes fly {
  0% {
    transform: translateX(0vw) translateY(0) translateZ(0);
  }

  90% {
    opacity: 1;
  }

  100% {
    transform: translateX(-68vw) translateY(-20%) translateZ(0);
    opacity: 0;

  }
}

/* MEDIA QUERIES */

/* max 1024px */
@media (max-width: 1024px) {
  .popup__game--sadness {
    gap: 1rem;
  }

  .stopwatch {
    width: 10rem;
    height: 13rem;
  }
}

/* max 480px */
@media (max-width: 480px) {
  .controls__input--group {
    flex-wrap: wrap;
    justify-content: center;
  }
}
