.popup__about--us {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.about-us__veronika .about-us__eliska {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-us__img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.astronaut {
  width: 100px;
  transform-origin: center;
}

.astronaut:hover {
  animation: swing 1s ease-in-out infinite;
}

@keyframes swing {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.github_logo {
  width: 1.5rem;
}



@media (max-width: 768px) {
  .popup__about--us {
    flex-wrap: wrap;
  }
}

/* 
@media (max-width: 480px) {
  .popup__about--us {
    flex-wrap: wrap;
  }
}

@media (max-width: 768px) {}

@media (max-width: 1024px) {} */
