.game-page__footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  bottom: 0;
}


.btn__play-game {
  background: linear-gradient(to bottom, #fff200 5%, #f5cb0e 100%);
  background-color: #f5cb0e;
  border-radius: 40px;
  font-size: 2em;
  font-weight: bold;
  padding: 1vh 3vw;
  margin-bottom: 2rem;
  cursor: pointer;
  transition: transform 0.5s;
}

.btn__play-game:hover {
  background: linear-gradient(to bottom, #f5cb0e 5%, #fff200 100%);
  background-color: #f5cb0e;
  transform: scale(1.05);
}
