.header__container {
  display: flex;
  justify-content: space-between;
  align-items: conter;
  width: 100%;
  top: 0vh;
  padding: 1rem;
}

.header__container--icons {
  display: flex;
  width: 110px;
  height: 50px;
  gap: 0.7rem;
}
