.explanations-popup {
  color: white;
  text-align: justify;
  font-size: 1em;
  line-height: 1.5;
  width: 80vw;
  max-height: 75vh;
  top: 20vh;
  left: 10vw;
  background-color: rgb(168, 168, 168);
  border-radius: 40px;
  border: none;
  padding: 3rem;
}

.explanations-popup::backdrop {
  background-color: rgba(0, 0, 0, 0.7);
}

.explanation-contain {
  max-height: 100%;
  overflow: auto;
}

/* MEDIA QUERIES */

/* max 768px */
@media (max-width: 768px) {
  .explanations-popup {
    width: 80vw;
    max-height: 80vh;
    top: 15vh;
    left: 10%;
    padding: 2rem;
  }
}

/* max 840px */
@media (max-width: 480px) {
  .explanations-popup {
    width: 90vw;
    max-height: 80vh;
    top: 15vh;
    left: 5%;
    padding: 1.2rem;
  }
}
