.explanations-popup {
  display: flex;
  display: none;
  flex-direction: column;
  text-align: justify;
  position: absolute;
  font-size: 1em;
  line-height: 1.5;
  width: 80vw;
  max-height: 80vh;
  top: 4rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(168, 168, 168);
  border-radius: 40px;
  padding: 3rem;
}

.explanation-contain {
  max-height: 100%;
  overflow: auto;
}
