.explanations-popup {
  /* display: flex; */
  /* display: none; */
  flex-direction: column;
  text-align: justify;
  position: absolute;
  color: white;
  font-size: 1em;
  line-height: 1.5;
  width: 80vw;
  max-height: 75vh;
  top: 20vh;
  left: 10vw;
  background-color: rgb(168, 168, 168);
  border-radius: 40px;
  border: none;
  padding: 3rem;
  z-index: 9999;
}

.explanations-popup::backdrop {
  background-color: rgba(0, 0, 0, 0.7);
}



@media (max-width: 425px) {
  .explanations-popup {
    width: 90vw;
    max-height: 80vh;
    top: 15vh;
    left: 5%;
  }
}


.explanation-contain {
  max-height: 100%;
  overflow: auto;
}
