/* OBRÁZKY HRY */
.game__anger {
  display: flex;
  position: relative;
  bottom: 8rem;
}

.dustbin__container {
  display: flex;
  flex-direction: row;
}

.popup__game--grouptrash {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.trashbin {
  width: 100px;
  transition: transform 0.3s;

}

.trashbin:hover {
  transform: scale(1.2);
}

.popup__game--trash {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}

.trash__container {
  display: flex;
  flex-direction: column;
}

.trash {
  width: 50px;
  margin-bottom: 10px;
  transition: transform 0.3s;
}

.trash:hover {
  transform: scale(1.2);
}


.box-shadow-food {
  box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
}

.box-shadow-paper {
  box-shadow: 0 0 10px rgba(0, 0, 255, 0.5);
}

.box-shadow-other {
  box-shadow: 0 0 10px rgba(128, 128, 128, 0.5);
}

.box-shadow-pet {
  box-shadow: 0 0 10px rgba(255, 255, 0, 0.5);
}
