/* OBRÁZKY HRY */
.popup {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 95%;
  background-color: rgb(168, 168, 168);
  border-radius: 40px;
  /* background-image: url(""); */
  background-repeat: no-repeat;
  background-size: cover;

}

.popup__game--grouptrash {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.trashbin {
  width: 100px;
  transition: transform 0.3s;

}

.trashbin:hover {
  transform: scale(1.2);
}

.popup__game--trash {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}

.trash {
  width: 50px;
  margin-bottom: 10px;
  transition: transform 0.3s;
}

.trash:hover {
  transform: scale(1.2);
}
