.error__page {
  display: flex;
  flex-direction: column;
  color: white;
  background-image: url(/public/img/backround_errorpage.svg);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  min-height: 100vh;

}

.errorpage__container {
  display: flex;
  /* display: none; */
  flex-direction: column;
  text-align: justify;
  position: absolute;
  font-size: 1em;
  line-height: 1.5;
  width: 80vw;
  max-height: 75vh;
  top: 20vh;
  left: 10vw;
  background-color: rgb(168, 168, 168);
  border-radius: 40px;
  padding: 3rem;
  z-index: 3000;
  align-items: center;
}

.erropage__heading {
  color: rgba(144, 144, 0, 0.823);
}

.errorpage_strong {
  color: yellow;
}

.link__center {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.errorpage__rocket {
  position: absolute;
  width: 170px;
  height: 170px;
  background-image: url(/public/img/rocket.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  left: 100%;
  top: 3%;
  transform: translateY(-50%) translateZ(0) rotate(270deg);
  opacity: 0;
  animation: rocketAnimation 4s linear forwards;
  animation-delay: 1s;
}

@keyframes rocketAnimation {
  0% {
    transform: translateX(0) translateY(-50%) translateZ(0) rotate(270deg);
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    transform: translateX(-90vw) translateY(-50%) translateZ(0) rotate(270deg);
    opacity: 0
  }
}
