.error__page {
  display: flex;
  flex-direction: column;
  color: white;
  background-image: url(/public/img/backround_errorpage.svg);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  min-height: 100vh;
  overflow: hidden;
}

.errorpage__container {
  display: flex;
  /* display: none; */
  flex-direction: column;
  text-align: justify;
  position: absolute;
  font-size: 1em;
  line-height: 1.5;
  width: 80vw;
  max-height: 75vh;
  top: 20vh;
  left: 10vw;
  background-color: rgb(168, 168, 168);
  border-radius: 40px;
  padding: 3rem;
  z-index: 3000;
}

.erropage__heading {
  color: rgba(144, 144, 0, 0.823);
}

.errorpage_strong {
  color: yellow;
}

.link__center {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.astronaut_errorpage {
  width: 300px;
  transform: scale(1);
  transition: transform 0.3s;
  filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.8))
}


.astronaut_errorpage:hover {
  transform: scale(1.1);
  filter: drop-shadow(0px 0px 10px rgba(246, 255, 0, 0.8));
}


.errorpage__rocket {
  position: absolute;
  width: 170px;
  height: 170px;
  background-image: url(/public/img/rocket.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  left: -170px;
  top: 3%;
  transform: translateY(-50%) translateZ(0) rotate(90deg);
  opacity: 0;
  animation: rocketAnimation 4s linear forwards;
  animation-delay: 1s;
}

@keyframes rocketAnimation {
  0% {
    transform: translateX(0) translateY(-50%) translateZ(0) rotate(90deg);
    opacity: 0;

  }

  10% {
    opacity: 1;

  }

  90% {
    opacity: 1;

  }

  100% {
    transform: translateX(90vw)translateY(-50%) translateZ(0) rotate(90deg);
    opacity: 0;

  }
}
