.planets-miniature {
  margin-top: 2rem;
  width: 3rem;
}

.emotions__container {
  display: flex;
  flex-direction: column;
}

.emotions__container--title {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}
