h2 {
  color: white;
  font-size: 2em;
  text-align: center;
}

h3,
h4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.planets-miniature {
  width: 2rem;
}

.emotions__container {
  display: flex;
  flex-direction: column;
}

.emotions__container--title {
  display: flex;
  align-items: center;
  gap: 1rem;
}
