.planets__page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* z-index: 0; */
  color: white;
  background-image: url('/public/img/backround_gamemain.svg');
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  min-height: 100vh;
}

/* Div pro obrázkový kontejner */

.rocket__planetspage {
  cursor: pointer;
  rotate: 90deg;
  width: 140px;
  position: fixed;
  bottom: 3rem;
  left: -20%;
  animation: rocketFly1 4s forwards;
  transition: transform 0.3s;
}

.rocket__planetspage:hover {
  transform: scale(1.2);
  filter: drop-shadow(10px 10px 10px rgb(255, 255, 255));
}

@keyframes rocketFly1 {
  0% {
    bottom: 3rem;
    left: -20%;
  }

  100% {
    bottom: 1rem;
    left: 12rem;

  }
}

.container__planets {
  top: 13rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.5rem;
  flex-wrap: wrap;
}



/* Planety */

.planet__joy {

  transition: transform 0.2s ease-in-out;
  width: 150px;
  filter: drop-shadow(1px 1px 1px 1px rgb(247, 251, 122));
}

.planet__boredom {

  transition: transform 0.2s ease-in-out;
  width: 150px;
  filter: drop-shadow(1px 1px 1px 1px rgba(129, 88, 0, 0.558));
}

.planet__sadness {

  transition: transform 0.2s ease-in-out;
  width: 150px;
  filter: drop-shadow(1px 1px 1px 1px rgba(111, 181, 255, 0.576));
}

.planet__fear {
  transition: transform 0.2s ease-in-out;
  width: 150px;
  filter: drop-shadow(1px 1px 1px 1px rgba(218, 218, 218, 0.576));
}

.planet__anger {
  transition: transform 0.2s ease-in-out;
  width: 150px;
  filter: drop-shadow(1px 1px 1px 1px rgba(255, 27, 27, 0.5));
}

.planet__courage {
  transition: transform 0.2s ease-in-out;
  width: 200px;
  filter: drop-shadow(1px 1px 1px 1px rgba(82, 255, 47, 0.5));
}

.planet__love {
  transition: transform 0.2s ease-in-out;
  width: 200px;
  filter: drop-shadow(1px 1px 1px 1px rgba(253, 149, 206, 0.531));
}

.planet__enthusiasm {
  transition: transform 0.2s ease-in-out;
  width: 200px;
  filter: drop-shadow(1px 1px 1px 1px rgba(255, 142, 55, 0.5));
}


/* Efekty po najetí myší  */

.planet__joy:hover {
  transform: scale(1.1);
  filter: drop-shadow(10px 10px 10px rgb(247, 251, 122));
}


.planet__boredom:hover {
  transform: scale(1.1);
  filter: drop-shadow(10px 10px 10px rgba(129, 88, 0, 0.558));
}

.planet__sadness:hover {
  transform: scale(1.1);
  filter: drop-shadow(10px 10px 10px rgba(111, 181, 255, 0.576));
}

.planet__fear:hover {
  transform: scale(1.1);
  filter: drop-shadow(10px 10px 10px rgba(218, 218, 218, 0.576));
}

.planet__anger:hover {
  transform: scale(1.1);
  filter: drop-shadow(10px 10px 10px rgba(255, 27, 27, 0.5));
}

.planet__courage:hover {
  transform: scale(1.1);
  filter: drop-shadow(10px 10px 10px rgba(82, 255, 47, 0.5));
}

.planet__love:hover {
  transform: scale(1.1);
  filter: drop-shadow(10px 10px 10px rgba(253, 149, 206, 0.531));
}

.planet__enthusiasm:hover {
  transform: scale(1.1);
  filter: drop-shadow(10px 10px 10px rgba(255, 142, 55, 0.5));
}

/* 
Názvy planet */
.link {
  display: block;
  text-align: center;
}

.link__text {
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  text-decoration: none;
  display: block;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}


/* @media (max-width: 1024px) {
 }

@media (max-width: 768px) {
  }*/

@media (max-width: 426px) {
  .rocket__planetspage {
    position: fixed;
    width: 93px;
    top: 10rem;
    left: 2rem;
  }

  .container__planets {
    flex-direction: column;
    top: 5rem;
    position: relative;
  }
}
