.planets__page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  background-image: url('/public/img/backround_gamemain.svg');
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  min-height: 100vh;
  overflow: auto;
}

/* Div pro obrázkový kontejner */

.rocket__planetspage {
  cursor: pointer;
  rotate: 90deg;
  position: absolute;
  animation: rocketFly1 4s forwards;
  transition: transform 0.3s;
}

.rocket__planetspage:hover {
  transform: scale(1.2);
  filter: drop-shadow(10px 10px 10px rgb(255, 255, 255));
}

@keyframes rocketFly1 {
  0% {
    bottom: 3rem;
    left: -20%;
  }

  100% {
    bottom: 1rem;
    left: 12rem;

  }
}


/* Planety - container */




/* Planety  - img*/

.planet__joy--img {

  transition: transform 0.2s ease-in-out;
  width: 200px;
  filter: drop-shadow(1px 1px 1px 1px rgb(247, 251, 122));
}

.planet__boredom--img {

  transition: transform 0.2s ease-in-out;
  width: 150px;
  filter: drop-shadow(1px 1px 1px 1px rgba(129, 88, 0, 0.558));
}

.planet__sadness--img {

  transition: transform 0.2s ease-in-out;
  width: 150px;
  filter: drop-shadow(1px 1px 1px 1px rgba(111, 181, 255, 0.576));
}

.planet__fear--img {
  transition: transform 0.2s ease-in-out;
  width: 150px;
  filter: drop-shadow(1px 1px 1px 1px rgba(218, 218, 218, 0.576));
}

.planet__anger--img {
  transition: transform 0.2s ease-in-out;
  width: 150px;
  filter: drop-shadow(1px 1px 1px 1px rgba(255, 27, 27, 0.5));
}

.planet__courage--img {
  transition: transform 0.2s ease-in-out;
  width: 200px;
  filter: drop-shadow(1px 1px 1px 1px rgba(82, 255, 47, 0.5));
}

.planet__love--img {
  transition: transform 0.2s ease-in-out;
  width: 200px;
  filter: drop-shadow(1px 1px 1px 1px rgba(253, 149, 206, 0.531));
}

.planet__enthusiasm--img {
  transition: transform 0.2s ease-in-out;
  width: 200px;
  filter: drop-shadow(1px 1px 1px 1px rgba(255, 142, 55, 0.5));
}


/* Efekty po najetí myší  */

.planet__joy--img:hover {
  transform: scale(1.1);
  filter: drop-shadow(10px 10px 10px rgb(247, 251, 122));
}


.planet__boredom--img:hover {
  transform: scale(1.1);
  filter: drop-shadow(10px 10px 10px rgba(129, 88, 0, 0.558));
}

.planet__sadness--img:hover {
  transform: scale(1.1);
  filter: drop-shadow(10px 10px 10px rgba(111, 181, 255, 0.576));
}

.planet__fear--img:hover {
  transform: scale(1.1);
  filter: drop-shadow(10px 10px 10px rgba(218, 218, 218, 0.576));
}

.planet__anger--img:hover {
  transform: scale(1.1);
  filter: drop-shadow(10px 10px 10px rgba(255, 27, 27, 0.5));
}

.planet__courage--img:hover {
  transform: scale(1.1);
  filter: drop-shadow(10px 10px 10px rgba(82, 255, 47, 0.5));
}

.planet__love--img:hover {
  transform: scale(1.1);
  filter: drop-shadow(10px 10px 10px rgba(253, 149, 206, 0.531));
}

.planet__enthusiasm--img:hover {
  transform: scale(1.1);
  filter: drop-shadow(10px 10px 10px rgba(255, 142, 55, 0.5));
}

/* 
Názvy planet */
.link {
  display: block;
  text-align: center;
}

.link__text {
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  text-decoration: none;
  display: block;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}


@media (min-width: 320px) {
  .rocket__planetspage {
    width: 72px;
    top: -12%;
  }

  .container__planets {
    gap: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 5rem;
    position: relative;
  }

}

@media (min-width: 480px) {
  .container__planets {
    top: 2rem;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
  }

  .rocket__planetspage {
    width: 146px;
    top: 27rem;
  }
}

@media (min-width: 700px) {
  .rocket__planetspage {
    width: 140px;
    top: 24rem;
    left: 2rem;
  }

  .planet__joy {
    position: relative;
    top: 11rem;
  }

  .planet__sadness {
    position: relative;
    right: 3rem;
    top: 0rem;
  }

  .planet__love {
    position: relative;
    top: 0rem;
  }

  .planet__anger {
    position: relative;
    left: 7rem;
    top: 0rem;
  }
}

@media (min-width: 794px) {
  .planet__anger {
    position: relative;
    left: -4rem;
    top: 12rem;
  }
}


@media (min-width: 1000px) {
  .rocket__planetspage {
    width: 183px;
    top: 18rem;
    left: 2rem;
  }


  .planet__joy {
    position: relative;
    top: 6rem;
    left: 5rem;
  }

  .planet__sadness {
    position: relative;
    top: -4rem;
    left: 8rem;
  }

  .planet__love {
    position: relative;
    top: 0rem;
    left: 20%;
  }

  .planet__anger {
    position: relative;
    left: -8rem;
    top: 16rem;
  }

  .planet__anger--img {
    width: 190px;
  }

  .planet__love--img {
    width: 190px;
  }

}

@media (min-width: 1900px) {
  .rocket__planetspage {
    width: 135px;
    top: 17rem;
    left: 2rem;
  }

  .planet__joy {
    position: relative;
    top: 16rem
  }

  .planet__sadness {
    position: relative;
    top: 0rem
  }

  .planet__love {
    position: relative;
    top: 0rem;
    left: 20%;
  }

  .planet__anger {
    position: relative;
    left: -10rem;
    top: 20rem
  }

  .planet__anger--img {
    width: 200px;
  }

  .planet__love--img {
    width: 200px;
  }


}
