.popup__btn--close {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 2rem;
  right: 2rem;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .popup__btn--close {
    top: 1rem;
    right: 1rem;
  }
}


@media (max-width: 480px) {
  .popup__btn--close {
    top: 1rem;
    right: 0;
  }
}
