@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Josefin+Sans:wght@500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Josefin Sans', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  color: white;
  background-image: url('/public/img/backround_main.svg');
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  min-height: 100vh;
}


.container {
  max-width: 26rem;
  margin-right: auto;
  margin-left: auto;
}


.color-database {
  color: #b3b370;
  color: #40a6c5;
  color: #bc6ea7;
  color: #ba5858;
  color: #c49847;
  color: #995524;
  color: #5ebe5e;
  color: #a3aab1;
}
