@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Josefin+Sans:wght@500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Josefin Sans', sans-serif;
}

body {
  min-height: 100vh;
}


a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}



/* NADPISY */

/* h1 {
  font-size: 5em;
  position: relative;
  top: 10vh;
  left: 6vw;
  transition: all 0.3s ease;
}


@media (max-width: 768px) {
  h1 {
    font-size: 4em;
    top: 8vh;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 3em;
    top: 5vh;
  }
}

@media (max-width: 320px) {
  h1 {
    font-size: 3em;
    word-wrap: break-word;

  }
} 

h1:hover {
  text-shadow: 0 0 10px yellow;
  transform: scale(1.0);
} */

h2 {
  color: yellow;
  font-size: 2em;
  text-align: center;
  margin-bottom: 0.3rem;
}

h3,
h4 {
  color: yellow;
  margin-top: 1rem;
  margin-bottom: 0.3rem;
}


/* .container {
  max-width: 26rem;
  margin-right: auto;
  margin-left: auto;
} */



/* Použité barvy v databázi */

.database-colorText {
  color: #f9f46d;
  color: #77cdfe;
  color: #f891cf;
  color: #f47979;
  color: #f8b271;
  color: #7a5637;
  color: #3a8a4c;
  color: #aca29a;

}

.database-colorStar {
  color: #FFF503;
  color: #04A5FF;
  color: #FC68C1;
  color: #EC1F1F;
  color: #FF7D04;
  color: #793B03;
  color: #038A21;
  color: #58534f;
}
