@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Josefin+Sans:wght@500&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Josefin Sans', sans-serif;
}

.container {
  max-width: 26rem;
  margin-right: auto;
  margin-left: auto;
}


.color-database {
  color: #b3b370;
  color: #40a6c5;
  color: #bc6ea7;
  color: #ba5858;
  color: #c49847;
  color: #995524;
  color: #5ebe5e;
  color: #a3aab1;
}
