  .homepage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    color: white;
    background-image: url('/public/img/backround_main.svg');
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    min-height: 100vh;
  }

  .homepage__container {
    display: flex;
    justify-content: flex-start;
    position: relative;
  }

  .rocket {
    position: fixed;
    animation: flying 2s forwards;
  }

  @keyframes flying {
    0% {
      left: -20%;
      bottom: -0%;
      transform: scale(0.8);
    }

    100% {
      left: 10rem;
      bottom: 3rem;
      transform: scale(1.1);
    }
  }

  /* Styly pro btn na jednotlivé POP-UP STRÁNKY */
  .button__game {
    position: fixed;
    background: none;
    cursor: pointer;
    filter: none;
    transition: filter 0.3s, transform 0.3s;
  }

  .button__game:hover {
    filter: drop-shadow(0 0 40px rgb(255, 255, 193));
    transform: scale(1.1);
  }

  .button__project {
    position: fixed;
    background: rgb(252, 116, 57);
    border: none;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    transition: box-shadow 0.3s, transform 0.3s;
  }


  .button__emotions {
    position: fixed;
    background: rgb(255, 139, 199);
    border: none;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    transition: box-shadow 0.3s, transform 0.3s;
  }

  .button__rules {
    position: fixed;
    background: rgb(84, 84, 213);
    border: none;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    transition: box-shadow 0.3s, transform 0.3s;
  }


  .button__tips {
    position: fixed;
    background: rgb(10, 134, 105);
    border: none;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    transition: box-shadow 0.3s, transform 0.3s;
  }


  .button__project:hover {
    box-shadow: 0 0 20px 10px rgb(252, 116, 57);
    transform: scale(1.1);
  }

  .button__emotions:hover {
    box-shadow: 0 0 20px 10px rgb(255, 139, 199);
    transform: scale(1.1);
  }

  .button__rules:hover {
    box-shadow: 0 0 20px 10px rgb(84, 84, 213);
    transform: scale(1.1);
  }

  .button__tips:hover {
    box-shadow: 0 0 20px 10px rgb(10, 134, 105);
    transform: scale(1.1);
  }


  /* MEDIA QUERIES */

  /* min 320px */
  @media (min-width: 320px) {
    .button__emotions {
      top: 65%;
      left: 20%;
      font-size: 0.9rem;
      width: 5rem;
      height: 5rem;
    }

    .button__rules {
      top: 47%;
      left: 12%;
      font-size: 1.3rem;
      width: 5.5rem;
      height: 5.5rem;
    }

    .button__project {
      top: 55%;
      left: 55%;
      font-size: 0.9rem;
      width: 5rem;
      height: 5rem;
    }

    .button__game {
      width: 264px;
      top: 25%;
      left: 7%;
    }

    .button__tips {
      top: 75%;
      left: 50%;
      font-size: 1rem;
      width: 5rem;
      height: 5rem;
    }

    .rocket {
      width: 75px;
      top: 6%;
      filter: drop-shadow(0px 2px 5px rgb(255, 255, 255));
      rotate: 90deg;
    }
  }

  /*min 480px */
  @media (min-width: 480px) {
    .button__emotions {
      top: 55%;
      left: 40%;
      font-size: 1rem;
      width: 7.5rem;
      height: 7.5rem;
    }

    .button__rules {
      top: 47%;
      left: 12%;
      font-size: 1.5rem;
      width: 7rem;
      height: 7rem;
    }

    .button__project {
      top: 55%;
      left: 70%;
      font-size: 1.2rem;
      width: 8rem;
      height: 8rem;
    }

    .button__game {
      width: 264px;
      top: 25%;
      left: 40%;
    }

    .button__tips {
      top: 75%;
      left: 20%;
      font-size: 1.3rem;
      width: 6.5rem;
      height: 6.5rem;
    }

    .rocket {
      rotate: 90deg;
      width: 90px;
      top: 6%;
      filter: drop-shadow(0px 2px 5px rgb(255, 255, 255));

    }
  }

  /* min 700px */
  @media (min-width: 700px) {
    .button__emotions {
      top: 55%;
      left: 40%;
      font-size: 1rem;
      width: 7.5rem;
      height: 7.5rem;
    }

    .button__rules {
      top: 47%;
      left: 12%;
      font-size: 1.8rem;
      width: 10rem;
      height: 10rem;
    }

    .button__project {
      top: 55%;
      left: 65%;
      font-size: 1.4rem;
      width: 8rem;
      height: 8rem;
    }

    .button__game {
      width: 319px;
      top: 25%;
      left: 50%;
    }

    .button__tips {
      top: 75%;
      left: 20%;
      font-size: 1.2rem;
      width: 7rem;
      height: 7rem;
    }

    .rocket {
      rotate: 90deg;
      width: 109px;
      top: 8%;
      filter: drop-shadow(0px 2px 5px rgb(255, 255, 255));

    }
  }

  /* min 1024px */
  @media (min-width: 1024px) {
    .button__game {
      width: 350px;
      top: 25%;
      left: 65%;
    }

    .button__project {
      top: 65%;
      left: 55%;
      font-size: 1.8rem;
      width: 10rem;
      height: 10rem;
    }

    .button__emotions {
      top: 17%;
      left: 45%;
      font-size: 2rem;
      width: 9rem;
      height: 9rem;
    }

    .button__rules {
      top: 40%;
      left: 30%;
      font-size: 2rem;
      width: 12rem;
      height: 12rem;
    }

    .button__tips {
      top: 70%;
      left: 10%;
      font-size: 2rem;
      width: 8rem;
      height: 8rem;
    }

    .rocket {
      rotate: 50deg;
      width: 163px;
      top: 12%;
      left: 8%;
      filter: drop-shadow(5px 5px 5px rgb(255, 255, 255));
    }

  }

  /* min 1400px */
  @media (min-width: 1400px) {
    .button__game {
      width: 400px;
    }

    .rocket {
      rotate: 50deg;
      width: 220px;
      top: 13%;
      filter: drop-shadow(0px 2px 5px rgb(255, 255, 255));
    }
  }
