.rocket {
  rotate: 50deg;
  width: 250px;
  position: fixed;
  top: 20%;
  left: 10%;
  filter: drop-shadow(10px 10px 10px rgb(255, 255, 255));
  animation: flying 2s forwards;
}

@keyframes flying {
  0% {
    left: -20%;
    bottom: -0%;
    transform: scale(0.8);

  }

  100% {
    left: 10rem;
    bottom: 3rem;
    transform: scale(1.1);

  }
}



/* styly pro btn na jednotlivé POP-UP STRÁNKY */

.button__game {
  width: 450px;
  /* position: relative;
  top: -68px;
  left: 50%; */
  position: fixed;
  top: 35%;
  left: 60%;
  background: none;
  cursor: pointer;
  filter: none;
  transition: filter 0.3s, transform 0.3s;
}

.button__game:hover {
  filter: drop-shadow(0 0 40px rgb(255, 255, 193));
  transform: scale(1.1);
}

.button__project {
  /* position: absolute; */
  /* top: 5rem;
  left: 18rem; */
  position: fixed;
  top: 65%;
  left: 55%;
  /* top: -170px;
  left: 74px; */
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  font-size: 2rem;
  background: rgb(252, 116, 57);
  width: 13rem;
  height: 13rem;
  border: none;
  border-radius: 50%;
  padding: 0;
  /* overflow: hidden; */
  cursor: pointer;
  transition: box-shadow 0.3s, transform 0.3s;
}


.button__emotions {
  /* position: relative;
  bottom: 25rem;
  right: 10rem; */
  position: fixed;
  top: 15%;
  left: 45%;
  /* top: -392px;
  left: 67px; */
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  font-size: 2rem;
  background: rgb(255, 139, 199);
  width: 9rem;
  height: 9rem;
  border: none;
  border-radius: 50%;
  padding: 0;
  /* overflow: hidden; */
  cursor: pointer;
  transition: box-shadow 0.3s, transform 0.3s;
}

.button__rules {
  /* position: relative;
  bottom: 5rem;
  right: 30rem; */
  position: fixed;
  top: 40%;
  left: 30%;
  /* top: 55px;
  left: -72px; */
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  font-size: 2rem;
  background: rgb(84, 84, 213);
  width: 12rem;
  height: 12rem;
  border: none;
  border-radius: 50%;
  padding: 0;
  /* overflow: hidden; */
  cursor: pointer;
  transition: box-shadow 0.3s, transform 0.3s;
  /* box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.5); */
}


.button__tips {
  position: fixed;
  top: 70%;
  left: 10%;
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  font-size: 2rem;
  background: rgb(10, 134, 105);
  width: 8rem;
  height: 8rem;
  border: none;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  transition: box-shadow 0.3s, transform 0.3s;
}


.button__project:hover {
  box-shadow: 0 0 40px 20px rgb(252, 116, 57);
  transform: scale(1.1);
}

.button__emotions:hover {
  box-shadow: 0 0 40px 20px rgb(255, 139, 199);
  transform: scale(1.1);
}

.button__rules:hover {
  box-shadow: 0 0 40px 20px rgb(84, 84, 213);
  transform: scale(1.1);
}

.button__tips:hover {
  box-shadow: 0 0 40px 20px rgb(10, 134, 105);
  transform: scale(1.1);
}


button {
  padding: 3rem;
}

.p1 {
  background-color: #f6fc5b;
}

.p2 {
  background-color: #7fbaf9;
}

.p3 {
  background-color: #f97bc0;
}

.p4 {
  background-color: #fd6363;
}

.p5 {
  background-color: #eeab53;
}

.p6 {
  background-color: #b27140;
}

.p7 {
  background-color: #6fd25b;
}

.p8 {
  background-color: #b1a8a8;
}
